@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Simplilearn</h1>
    <p>Learn about <a href="https://www.simplilearn.com">our offerings</a>.</p>
</div>
